body{
    margin: 0;
    padding: 0;
    background: rgb(237, 219, 205);
}

nav{
    background-color: #434343;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navLogo{
    width: 100px;
    height: auto; 
}

nav ul {
    display: flex; 
    margin: 0;
    padding: 0;
    flex-direction: row;
}

nav li {
    list-style: none; 
    margin-left: 1.5rem;
    font-size: 1.5rem;
}


section{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* border: 4px solid #434343; */
}

.inverseSec{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 152, 72);
}

.imgDiv{
    display: flex;
    justify-content: bottom;
    align-items: bottom;
}
div{
    margin: 0;
    padding: 0;
    /* border: 4px solid #434343; */
    height: 100%;
}



h1{
    font-size: 3rem;
    color: #434343;
}
p{
    font-size: 1.5rem;
    color: #434343;
}