@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body{
    margin: 0;
    padding: 0;
    background: rgb(237, 219, 205);
}

nav{
    background-color: #434343;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navLogo{
    width: 100px;
    height: auto; 
}

nav ul {
    display: flex; 
    margin: 0;
    padding: 0;
    flex-direction: row;
}

nav li {
    list-style: none; 
    margin-left: 1.5rem;
    font-size: 1.5rem;
}


.rowSection{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* border: 4px solid #434343; */
}

.inverseSec{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 152, 72);
}

.timelineSec{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: rgb(237, 219, 205);
    border: 4px solid #434343;
    padding: 0; 
    margin: 0;

}

.imgDiv{
    display: flex;
    justify-content: bottom;
    align-items: bottom;
}

.timelinePoint {
    max-height: 100px;
}



div{
    margin: 0;
    padding: 0;
    /* border: 4px solid #434343; */
    height: 100%;
}
.centerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* border: 4px solid #434343; */
}
.rowDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* border: 4px solid #434343; */
}

.activity{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5%;
    height: 100%;
}

.jobSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    /* border: 4px solid #434343; */
}

.timelineDate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
    /* border: 4px solid #434343; */
}

.timeLeft{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    margin: 0;
    padding: 7%;
    width: 10%;
}

.timeRight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    margin: 0;
    padding: 0;
    width: 90%;
}




h1{
    padding: 0;
    margin: 20px;
    font-size: 6rem;
    font-family: "Playfair Display", serif;
    color: #434343;
}
h2{
    padding: 0;
    margin: 0;
    font-size: 3rem;
    color: #434343;
}
h3{
    padding: 0;
    margin: 0;
    font-size: 2rem;
    color: #434343;
}
p{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: #434343;
}


.jobCategory {
    width: 120px;
}